<div class="deals">
    <div class="deals__page-title">
        <h1>Best Game Deals</h1>
    </div>
    <div class="deals__container">
        <ul>
            <li *ngFor="let deal of dealsArray">
                <img [src]="deal.thumb" alt="game thumbnail">
                <div class="deals__title">
                    <h4>{{ deal.title }}</h4>
                </div>
                <div class="deals__prices">
                    <p>Normal price: <s>{{ deal.normalPrice }}</s></p>
                    <span>Sale price: {{ deal.salePrice }}</span>
                </div>
                <p>Deal rating: {{ deal.dealRating }}</p>
            </li>
        </ul>
    </div>
</div>
