<!-- <ul>
    <li *ngFor="let item of bodyArray">{{ item.title }}</li>
</ul> -->
<div class="deals">
    <div class="deals__container">
        <ul>
            <li *ngFor="let deal of dealsArray">
                <img [src]="deal.thumb" alt="game thumbnail">
                <div class="deals__title">
                    <h4>{{ deal.title }}</h4>
                </div>
                <div class="deals__prices">
                    <p><s>{{ deal.normalPrice }}</s></p>
                    <span>{{ deal.salePrice }}</span>
                </div>
                <p>Deal rating: {{ deal.dealRating }}</p>
            </li>
        </ul>
    </div>
</div>
